<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>page gggg</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</head>
<body>
<div>
    <div class="box">This is a scientific application created to help visualize Bundesliga teams.
        Made with Python, Pandas, Numpy, and MatPlotLib.
    </div>
</div>

<form id="myForm">
    <label>Home Team:</label>
    <select name="team1" id="team1_id">
        {% for team in teams %}
            <option value="{{team}}">{{team}}</option>
        {% endfor %}

    </select>

    <label>Away Team:</label>

    <select name="team2" id="team2_id">
        {% for team in teams %}
            <option value="{{team}}">{{team}}</option>
        {% endfor %}

    </select>
    <button type="submit">Magic goes here!</button>
</form>

<h1>Hello!</h1>
 <div id="tables"></div>

<h2>Ciao!</h2>

<p>
{% if path != None %}
<div id="gallerie" class="all_floats"></div>
{% endif %}
</p>

</body>
</html>